.mediaViewInfo {
	--web-view-name: TS-C5701;
	--web-view-id: TS_C5701;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: TS_C5701;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#TS_C5701 {
	position: absolute;
	background: #E5E5E5;
	width: 360px;
	height: 869px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: TS-C5701;
	--web-view-id: TS_C5701;
	--web-enable-deep-linking: true;
}
@keyframes  {


}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Group_1 {
	position: absolute;
	width: 323px;
	height: 309.26px;
	left: 11px;
	top: 131px;
	overflow: visible;
}
.Rectangle_8 {
	position: absolute;
	overflow: visible;
	width: 300px;
	height: 53px;
	left: 23px;
	top: 0px;
}
#BLOW_TS_C5701 {
	position: absolute;
	left: 0px;
	top: 5px;
	overflow: visible;
	width: 268px;
	white-space: nowrap;
	line-height: 56px;
	margin-top: -10px;
	text-align: left;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	color: rgba(72,72,72,1);
}
#ID30_230 {
	position: absolute;
	width: 300.347px;
	height: 225.26px;
	left: 19px;
	top: 84px;
	overflow: visible;
}
#Header {
	position: absolute;
	width: 62px;
	height: 23px;
	left: 95px;
	top: 94px;
	overflow: visible;
	--web-animation: fadein 0.3s linear;
	--web-action-type: page;
	--web-action-target: G_o_niki.html;
	cursor: pointer;
}
.Rectangle_7 {
	position: absolute;
	overflow: visible;
	width: 62px;
	height: 23px;
	left: 0px;
	top: 0px;
}
#g_o_niki {
	position: absolute;
	left: 19px;
	top: 7px;
	overflow: visible;
	width: 26px;
	white-space: nowrap;
	text-align: left;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 7px;
	color: rgba(64,64,64,1);
}
#Header_bnc {
	position: absolute;
	width: 86px;
	height: 23px;
	left: 11px;
	top: 94px;
	overflow: visible;
	--web-animation: fadein 0.3s linear;
	--web-action-type: page;
	--web-action-target: Sklep.html;
	cursor: pointer;
}
.Rectangle_7_bnd {
	position: absolute;
	overflow: visible;
	width: 86px;
	height: 23px;
	left: 0px;
	top: 0px;
}
#wszystkie_produkty {
	position: absolute;
	left: 12px;
	top: 7px;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	text-align: left;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 7px;
	color: rgba(64,64,64,1);
}
#Group_18 {
	position: absolute;
	width: 329px;
	height: 164px;
	left: 16px;
	top: 689px;
	overflow: visible;
}
#Group_17 {
	position: absolute;
	width: 329px;
	height: 164px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_9 {
	position: absolute;
	width: 329px;
	height: 164px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_11 {
	position: absolute;
	overflow: visible;
	width: 329px;
	height: 29px;
	left: 0px;
	top: 0px;
}
.Rectangle_12 {
	position: absolute;
	overflow: visible;
	width: 329px;
	height: 138px;
	left: 0px;
	top: 26px;
}
#Opis_ {
	position: absolute;
	left: 42px;
	top: 8px;
	overflow: visible;
	width: 29px;
	white-space: nowrap;
	line-height: 53px;
	margin-top: -21px;
	text-align: center;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	color: rgba(72,72,72,1);
}
#G_O_NIKI_TR_JDRO_NE_5X7__TS_C5 {
	position: absolute;
	left: 5px;
	top: 31px;
	overflow: hidden;
	width: 319px;
	height: 128px;
	text-align: left;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(112,112,112,1);
}
#Group_14 {
	position: absolute;
	width: 82px;
	height: 38px;
	left: 263px;
	top: 446px;
	overflow: visible;
}
#Ceny {
	position: absolute;
	width: 50px;
	height: 25px;
	left: 16px;
	top: 7px;
	overflow: visible;
}
#ID74_90_z_ {
	position: absolute;
	left: 0px;
	top: 1px;
	overflow: visible;
	width: 51px;
	white-space: nowrap;
	line-height: 23px;
	margin-top: -4px;
	text-align: center;
	font-family: Dubai;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(72,72,72,1);
}
.Path_6 {
	overflow: visible;
	position: absolute;
	width: 82px;
	height: 38px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_16 {
	position: absolute;
	width: 121px;
	height: 35px;
	left: 224px;
	top: 503px;
	overflow: visible;
}
#Group_15 {
	position: absolute;
	width: 121px;
	height: 35px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_13 {
	position: absolute;
	width: 121px;
	height: 35px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_13 {
	position: absolute;
	overflow: visible;
	width: 121px;
	height: 35px;
	left: 0px;
	top: 0px;
}
#Dodaj_do_koszyka {
	position: absolute;
	left: 3px;
	top: 6px;
	overflow: visible;
	width: 117px;
	white-space: nowrap;
	line-height: 23px;
	margin-top: -4px;
	text-align: center;
	font-family: Dubai;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(72,72,72,1);
}
#Menu {
	position: absolute;
	width: 43px;
	height: 41px;
	left: 303px;
	top: 28px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Menu.html;
	cursor: pointer;
}
#Group_19 {
	position: absolute;
	width: 43px;
	height: 41px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_14 {
	position: absolute;
	overflow: visible;
	width: 43px;
	height: 41px;
	left: 0px;
	top: 0px;
}
.path {
	overflow: visible;
	position: absolute;
	width: 21.507px;
	height: 18.312px;
	left: 11.078px;
	top: 11.32px;
	transform: matrix(1,0,0,1,0,0);
}
#Component_10___52 {
	position: absolute;
	width: 198px;
	height: 48px;
	left: 46.5px;
	top: 24.5px;
	overflow: visible;
}
#BoSystems {
	position: absolute;
	left: 5px;
	top: 0px;
	overflow: visible;
	width: 194px;
	white-space: nowrap;
	text-align: left;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 38px;
	color: rgba(77,76,76,1);
}
#Group_37 {
	position: absolute;
	width: 329px;
	height: 29px;
	left: 16px;
	top: 583px;
	overflow: visible;
}
.Rectangle_11_bn {
	position: absolute;
	overflow: visible;
	width: 118px;
	height: 29px;
	left: 0px;
	top: 0px;
}
.Rectangle_12_bn {
	position: absolute;
	overflow: visible;
	width: 214px;
	height: 29px;
	left: 115px;
	top: 0px;
}
#Moc_maksymalna_ {
	position: absolute;
	left: 8px;
	top: 8px;
	overflow: visible;
	width: 101px;
	white-space: nowrap;
	line-height: 53px;
	margin-top: -21px;
	text-align: center;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	color: rgba(72,72,72,1);
}
#ID150_W {
	position: absolute;
	left: 123px;
	top: 8px;
	overflow: visible;
	width: 33px;
	white-space: nowrap;
	line-height: 53px;
	margin-top: -21px;
	text-align: left;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(112,112,112,1);
}
#Group_38 {
	position: absolute;
	width: 329px;
	height: 29px;
	left: 16px;
	top: 610px;
	overflow: visible;
}
.Rectangle_11_boa {
	position: absolute;
	overflow: visible;
	width: 118px;
	height: 29px;
	left: 0px;
	top: 0px;
}
.Path_10 {
	overflow: visible;
	position: absolute;
	width: 214px;
	height: 29px;
	left: 115px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Impedancja_ {
	position: absolute;
	left: 23px;
	top: 8px;
	overflow: visible;
	width: 71px;
	white-space: nowrap;
	line-height: 53px;
	margin-top: -21px;
	text-align: center;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	color: rgba(72,72,72,1);
}
#ID4__ {
	position: absolute;
	left: 123px;
	top: 8px;
	overflow: visible;
	width: 19px;
	white-space: nowrap;
	line-height: 53px;
	margin-top: -21px;
	text-align: center;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(112,112,112,1);
}
#Group_39 {
	position: absolute;
	width: 329px;
	height: 29px;
	left: 16px;
	top: 638px;
	overflow: visible;
}
.Rectangle_11_boc {
	position: absolute;
	overflow: visible;
	width: 119px;
	height: 29px;
	left: 0px;
	top: 0px;
}
.Rectangle_12_bod {
	position: absolute;
	overflow: visible;
	width: 214px;
	height: 29px;
	left: 115px;
	top: 0px;
}
#Efektywno___ {
	position: absolute;
	left: 23px;
	top: 8px;
	overflow: visible;
	width: 71px;
	white-space: nowrap;
	line-height: 53px;
	margin-top: -21px;
	text-align: center;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	color: rgba(72,72,72,1);
}
#ID90_dB_W {
	position: absolute;
	left: 123px;
	top: 8px;
	overflow: visible;
	width: 45px;
	white-space: nowrap;
	line-height: 53px;
	margin-top: -21px;
	text-align: left;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(112,112,112,1);
}
#Group_40 {
	position: absolute;
	width: 329px;
	height: 29px;
	left: 16px;
	top: 664px;
	overflow: visible;
}
.Rectangle_11_boh {
	position: absolute;
	overflow: visible;
	width: 118px;
	height: 29px;
	left: 0px;
	top: 0px;
}
.Rectangle_12_boi {
	position: absolute;
	overflow: visible;
	width: 214px;
	height: 29px;
	left: 115px;
	top: 0px;
}
#Pasmo_przenoszenia_ {
	position: absolute;
	left: 2px;
	top: 8px;
	overflow: visible;
	width: 113px;
	white-space: nowrap;
	line-height: 53px;
	margin-top: -21px;
	text-align: center;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	color: rgba(72,72,72,1);
}
#ID74___20_000_Hz {
	position: absolute;
	left: 123px;
	top: 8px;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	line-height: 53px;
	margin-top: -21px;
	text-align: left;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(112,112,112,1);
}
#Group_43 {
	position: absolute;
	width: 329px;
	height: 29px;
	left: 16px;
	top: 557px;
	overflow: visible;
}
.Rectangle_11_bom {
	position: absolute;
	overflow: visible;
	width: 118px;
	height: 29px;
	left: 0px;
	top: 0px;
}
.Rectangle_12_bon {
	position: absolute;
	overflow: visible;
	width: 214px;
	height: 29px;
	left: 115px;
	top: 0px;
}
#Moc_nominalna_ {
	position: absolute;
	left: 14px;
	top: 8px;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	line-height: 53px;
	margin-top: -21px;
	text-align: center;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	color: rgba(72,72,72,1);
}
#ID50_W {
	position: absolute;
	left: 123px;
	top: 8px;
	overflow: visible;
	width: 27px;
	white-space: nowrap;
	line-height: 53px;
	margin-top: -21px;
	text-align: left;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(112,112,112,1);
}